*{
    color: white;
}
*{
    background-color: black;
}
#AW{
    height: 300px;
            width: 800px;
    border: 3px solid #E95793;
}
#WW{
    height: 300px;
            width: 800px;
    border: 3px solid #E95793;
}
#WS{
    height: 300px;
            width: 800px;
    border: 3px solid #E95793;
}
button {
    background-color: #bab0cc54;
    border: 2px solid;
    border-color: #b894f534;
    border-radius: 5px;
    color: white;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition: color 0.05s, border-color 0.05s, box-shadow 0.05s,transform 0.05s;
}

button:hover {
    /* Change background color and cursor on hover */
    background-color: #8d899434; /* Green background */
    color: white; /* White text */
    cursor: pointer; /* Crosshair cursor on hover */
    border-color: #8d8994;
    box-shadow:  0 0.8em 0.5em -0.4em #5900ffe7;
    transform: translateY(-0.25em);
}
img{
    transition: color 0.05s, box-shadow 0.05s,transform 0.05s;
}

img:hover{
    box-shadow:  0 0.8em 0.5em -0.4em #6a00ffe7;
    transform: translateY(-0.25em);
}
img #main:hover{
    box-shadow: 0 0.8em 0.5em -0.4em #0022ffe7;
    transform: translateY(-0.3em);
}

img {

    height: auto;
  
    max-width: 100%;
  
  }
  
  
@media(min-width: 320px) and (max-width: 480px){
    img#main{
        height: 50%;
        width: 50%;
    }
    img.music{
        height: auto;
        width: auto;
    }
    img#AW{
        height: auto;
        width: auto;
    }
    img#WW{
        height: auto;
        width: auto;
    }
    img#WS{
        height: auto;
        width: auto;
    }
}
@media (min-width: 481px) and (max-width: 768px) {
    
    img.music{
        height: auto;
        width: auto;
    }
    img#AW{
        height: auto;
        width: auto;
    }
    img#WW{
        height: auto;
        width: auto;
    }
    img#WS{
        height: auto;
        width: auto;
    }
}
@media (min-width: 769px) and (max-width: 1024px) {
    
    img.music{
        height: auto;
        width: auto;
    }
    img#AW{
        height: auto;
        width: auto;
    }
    img#WW{
        height: auto;
        width: auto;
    }
    img#WS{
        height: auto;
        width: auto;
    }
}
@media (min-width: 1025px) and (max-width: 1200px) {
    
    img.music{
        height: auto;
        width: auto;
    }
    img#AW{
        height: auto;
        width: auto;
    }
    img#WW{
        height: auto;
        width: auto;
    }
    img#WS{
        height: auto;
        width: auto;
    }
}
@media (min-width: 1201px) {
    
    img.music{
        height: auto;
        width: auto;
    }
    img#AW{
        height: auto;
        width: auto;
    }
    img#WW{
        height: auto;
        width: auto;
    }
    img#WS{
        height: auto;
        width: auto;
    }
}